Fetching package metadata .............

ncl 6.3.0 0
-----------
file name   : ncl-6.3.0-0.tar.bz2
name        : ncl
version     : 6.3.0
build string: 0
build number: 0
channel     : conda-forge
size        : 46.4 MB
arch        : x86_64
has_prefix  : True
license     : NCL Source Code
md5         : 0cb4268bc8cb92e97fe306245529fbba
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.3.0-0.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo
    curl
    freetype
    g2clib 1.6.*
    gdal 2.1.*
    gsl
    hdf4
    hdf4
    hdf5 1.8.17|1.8.17.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libgfortran
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.23,<1.7
    pixman
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.3.0 1
-----------
file name   : ncl-6.3.0-1.tar.bz2
name        : ncl
version     : 6.3.0
build string: 1
build number: 1
channel     : conda-forge
size        : 46.4 MB
arch        : x86_64
has_prefix  : True
license     : NCL Source Code
md5         : 0e2bc02a73111235191100e9a9a8f28d
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.3.0-1.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo
    curl
    freetype 2.6.*
    g2clib 1.6.*
    gdal 2.1.*
    gsl
    hdf4
    hdf4
    hdf5 1.8.17|1.8.17.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.23,<1.7
    pixman
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.3.0 2
-----------
file name   : ncl-6.3.0-2.tar.bz2
name        : ncl
version     : 6.3.0
build string: 2
build number: 2
channel     : conda-forge
size        : 46.5 MB
arch        : x86_64
has_prefix  : True
license     : NCL Source Code
md5         : d55aa2568cc8dfb49033ca2f7cc2dcc7
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.3.0-2.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo
    curl
    freetype 2.6.*
    g2clib 1.6.*
    gdal 2.1.*
    gsl
    hdf4
    hdf4
    hdf5 1.8.17|1.8.17.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.23,<1.7
    pixman
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.4.0 0
-----------
file name   : ncl-6.4.0-0.tar.bz2
name        : ncl
version     : 6.4.0
build string: 0
build number: 0
channel     : conda-forge
size        : 59.6 MB
arch        : x86_64
has_prefix  : True
license     : NCL Source Code
md5         : 2219931084a28ed4f390b89700f872c5
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-0.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo 1.14.*
    curl
    esmf
    freetype 2.7|2.7.*
    g2clib 1.6.*
    gdal 2.1.*
    gsl
    hdf4
    hdf5 1.8.17|1.8.17.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.28,<1.7
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.4.0 1
-----------
file name   : ncl-6.4.0-1.tar.bz2
name        : ncl
version     : 6.4.0
build string: 1
build number: 1
channel     : conda-forge
size        : 59.5 MB
arch        : x86_64
has_prefix  : False
license     : NCL Source Code
md5         : eb9e6dc786aedaca91f6868192136906
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-1.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo 1.14.*
    curl
    esmf
    freetype 2.7|2.7.*
    g2clib 1.6.*
    gdal 2.2.*
    gsl
    hdf4
    hdf5 1.8.17|1.8.17.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.28,<1.7
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.4.0 2
-----------
file name   : ncl-6.4.0-2.tar.bz2
name        : ncl
version     : 6.4.0
build string: 2
build number: 2
channel     : conda-forge
size        : 59.5 MB
arch        : x86_64
has_prefix  : False
license     : NCL Source Code
md5         : 429b2aeb29e0611842d186385fc21c4d
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-2.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo 1.14.*
    curl
    esmf
    freetype 2.7|2.7.*
    g2clib 1.6.*
    gdal 2.2.*
    gsl
    hdf4
    hdf5 1.8.18|1.8.18.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.28,<1.7
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.4.0 3
-----------
file name   : ncl-6.4.0-3.tar.bz2
name        : ncl
version     : 6.4.0
build string: 3
build number: 3
channel     : conda-forge
size        : 59.6 MB
arch        : x86_64
has_prefix  : True
license     : NCL Source Code
md5         : 522b5eee55746a1d66050c0c287ae36a
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-3.tar.bz2
dependencies:
    bzip2 1.0.*
    cairo 1.14.*
    curl
    esmf
    freetype 2.7|2.7.*
    g2clib 1.6.*
    gsl
    hdf4
    hdf5 1.8.18|1.8.18.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libgdal 2.2.*
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.28,<1.7
    openblas 0.2.*
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    zlib 1.2.*

ncl 6.4.0 blas_openblas_4
-------------------------
file name   : ncl-6.4.0-blas_openblas_4.tar.bz2
name        : ncl
version     : 6.4.0
build string: blas_openblas_4
build number: 4
channel     : conda-forge
size        : 59.5 MB
arch        : x86_64
features    : blas_openblas
has_prefix  : True
license     : NCL Source Code
md5         : 05a9fac83debd670e3d6d306e93d4c95
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-blas_openblas_4.tar.bz2
dependencies:
    blas 1.1 openblas
    bzip2 1.0.*
    cairo 1.14.*
    curl
    esmf
    freetype 2.7
    g2clib 1.6.*
    gsl
    hdf4
    hdf5 1.8.18|1.8.18.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libgdal 2.2.*
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.28,<1.7
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    zlib 1.2.8

ncl 6.4.0 blas_openblas_5
-------------------------
file name   : ncl-6.4.0-blas_openblas_5.tar.bz2
name        : ncl
version     : 6.4.0
build string: blas_openblas_5
build number: 5
channel     : conda-forge
size        : 59.5 MB
arch        : x86_64
features    : blas_openblas
has_prefix  : True
license     : NCL Source Code
md5         : 3d6924fb58972b5fd64a6a09cad0955c
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-blas_openblas_5.tar.bz2
dependencies:
    blas 1.1 openblas
    bzip2 1.0.*
    cairo 1.14.*
    curl
    esmf
    freetype 2.7
    g2clib 1.6.*
    gsl
    hdf4
    hdf5 1.8.18|1.8.18.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libgdal 2.2.*
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.28,<1.7
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    zlib 1.2.8

ncl 6.4.0 blas_openblas_6
-------------------------
file name   : ncl-6.4.0-blas_openblas_6.tar.bz2
name        : ncl
version     : 6.4.0
build string: blas_openblas_6
build number: 6
channel     : conda-forge
size        : 59.5 MB
arch        : x86_64
features    : blas_openblas
has_prefix  : True
license     : NCL Source Code
md5         : 9292f2fa7e5cf8a2899fcc3fd3bf7425
noarch      : None
platform    : linux
requires    : ()
subdir      : linux-64
url         : https://conda.anaconda.org/conda-forge/linux-64/ncl-6.4.0-blas_openblas_6.tar.bz2
dependencies:
    blas 1.1 openblas
    bzip2 1.0.*
    cairo 1.14.*
    curl >=7.54.1,<8
    esmf
    freetype 2.7
    g2clib 1.6.*
    gsl 2.2.*
    hdf4
    hdf5 1.8.18|1.8.18.*
    hdfeos2
    hdfeos5
    jasper
    jpeg 9*
    libgcc
    libgdal 2.1.*
    libiconv
    libnetcdf 4.4.*
    libpng >=1.6.22,<1.6.31
    pixman 0.34.*
    proj4 4.9.3
    udunits2
    xorg-imake
    xorg-libx11
    xorg-libxaw
    xorg-libxmu
    xorg-libxrender
    xorg-makedepend
    zlib 1.2.11
